/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
  border: none;
  color: var(--white-color, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 180px 50px 230px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  color: var(--dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}
nav ul li a {
  text-decoration: none;
}
.header {
  background-color: #fff8f3;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 70px 40px, bottom right;
  padding-right: 50px;
}
.banner {
  padding: 50px 30px 50px 230px;
}
.btn-secondary {
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  padding: 18px 35px;
  background-color: var(--white-color, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fd6e0a;
  margin-left: 30px;
}
.banner-greeting {
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.banner-title {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-detail {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.banner {
  padding: 30px 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic {
  width: 584px;
  height: 676px;
}
/* main sec style */
.about {
  margin: 130px 230px;
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;

}
.about-description {
  color: #757575;
 text-align: center;
  font-size: 18px;
}
.title{
  color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 30px;
}
.about-info-containar{
  display: flex;
  justify-content: space-between;
  padding-top: 30px; ;
}
.about-info{
  text-align: center;
}
.info-detail{
  font-weight: bold;
}
/* service style */
.services{
  text-align: center;
  padding: 0 230px 130px 230px;
}
.service-detail{
margin: 0 345px;
}
/* cards style */
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-top: 40px;
}
.card{
  border-radius: 5px;
  box-shadow: 0 5px 50px 0 gainsboro;
  background-color: #fff;
  padding: 30px;
}
/* resume section */
.resume{
padding: 0 230px 130px 230px;
}
.resume__info{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 100px 0;
}
.resume__content{
  padding: 0 50px 0 0;
}
.resume__textbox{
  padding: 20px 0;
  border-bottom: 1px solid #e1dede;
}
.resume__textbox p{
  color: #757575;
}
.sub-title{
  font-size: 30px;
}
.content-title{
  font-size: 25px;
  margin-bottom: 10px;
}
.content-subtitle{
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
}
.btn-primary-down{
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
  border: none;
  color: var(--white-color, #fff);
  font-family: Open Sans;
  font-size: 20px;

  font-weight: 700;

  align-items: center;
}
